.navBar {
  position: relative;
  width: 100%;
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
  /* IE hacks */
  zoom: 1;
  *display: inline;
}

button {
  display: inline-block;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 33.33%;
  outline: none;
}

.navBar li {
  float: left;
  padding: 0;
  margin: 0;
}

.profileButton {
  background-color: purple;
}

.projectsButton {
  background-color: lightblue;
}

.contactDetailsButton {
  background-color: green;
}
